<template>
<div class="row">
    <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
        <a href="javascript:;" @click="showProducts('orders');">Orders ({{orders.length}})</a>
    </div>
    <hr>
    <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
        <a href="javascript:;" @click="showProducts('products');">Products ({{products.length}})</a>
    </div>
    <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
    <a href="javascript:;" @click="showProducts('users');">Users ({{users.length}})</a>
    </div>
</div>
</template>


<script>
export default {
    data() {
        return {
            user: null,
            orders: [],
            products: [],
            users: []
        }
    },
    methods: {
        showProducts(param) {
            this.$emit('close', param)
        }
    },
    created() {
        axios.get('/api/users').then(response => this.users = response.data.data)
        axios.get('/api/products').then(response => this.products = response.data.data)
        axios.get('/api/order').then(response => this.orders = response.data.data)
    }
}
</script>


<style scoped>
.big-text {
    font-size: 28px;
}

.product-box {
    border: 1px solid #cccccc;
    padding: 10px 15px;
    height: 20vh
}
</style>
