<template>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Order Id</td>
                <td>Order Date</td>
                <td>Total</td>
                <td>User</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(order,index) in orders" :key="index">
                <td>{{index+1}}</td>
                <td v-html="order.id"></td>
                <td>{{ moment(order.created_at).format('YYYY-MM-DD HH:mm:ss') }}</td>
                <td>{{order.order_total}}</td>
                <td>{{order.user.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
</template>


<script>
export default {
    data() {
        return {
            orders: []
        }
    },
    created() {
        axios.get('/api/order').then(response => this.orders = response.data.data)
    },
    methods: {
    }
}
</script>
