<template>
<div class="modal-mask">
    <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <slot name="header" v-html="data.name"></slot>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <b>Upload CSV:</b> <a class="btn btn-sm btn-success float-right mb-3" href="/sample.xlsx" download title="Download Sample File">
                        <i class="fas fa-download"></i> &nbsp;Download Sample File
                    </a> 
                    <input class="form-control" ref="custom_file_input" type="file" id="file" @change="attachFile">
                </slot>
            </div>
            <div class="modal-footer">
                <slot name="footer">
                    <button class="modal-default-button" @click="uploadFile">
                        Upload
                    </button>
                    <button class="modal-default-button" @click="cancelFile">
                        Cancel
                    </button>
                </slot>
            </div>
        </div>
    </div>
</div>
</template>


<script>
import functions from '../../mixin.js'
export default {
    data() {
        return {
            attachment: null
        }
    },
    computed: {
        data: function () {
            if (this.product != null) {
                return this.product
            }
            return {
                name: "",
                units: "",
                price: "",
                description: "",
                image: false
            }
        }
    },
    methods: {
        attachFile(event) {
            this.attachment = event.target.files[0];
        },
        cancelFile(event) {
            this.attachment != null
            this.$refs.custom_file_input.type = 'text';
            this.$refs.custom_file_input.type = 'file';
            functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Products adding canceled!', true)
            this.$emit('cancel')
        },
        uploadFile(event) {
            if (this.attachment != null) {
                var formData = new FormData();
                formData.append("file", this.attachment)
                let headers = {
                    'Content-Type': 'multipart/form-data'
                }
                this.$myLoader('show')
                axios.post("/api/upload-products", formData, {
                    headers
                }).then(response => {
                    if(response.data.success) {
                        
                        functions.makeToast(this.$bvToast, 'success', 'Success!', 'Products has been added .', true)
                    } else {
                        functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Products adding failed!', true)
                    }
                    this.$refs.custom_file_input.type = 'text';
                    this.$refs.custom_file_input.type = 'file';
                    this.$emit('close')
                }).catch(err => {
                    this.$refs.custom_file_input.type = 'text';
                    this.$refs.custom_file_input.type = 'file';
                    functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Products adding failed!', true)
                    this.$emit('close')
                })
            } else {
                this.$refs.custom_file_input.type = 'text';
                this.$refs.custom_file_input.type = 'file';
                functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Please select a file.', true)
            }
        }
    }
}
</script>

<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
