<template>
<div>
    <button class="btn btn-outline-primary float-right" @click="newProduct">
        <i class="fas fa-shopping-cart"></i> &nbsp;Add Product
    </button>
    <br>
    <br>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Units</th>
                <th>Price</th>
                <th>Image</th>
                <th class="text-left">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product,index) in products" :key="index" @dblclick="editingItem = product">
                <td>{{index+1}}</td>
                <td v-html="product.title"></td>
                <td v-html="product.is_available"></td>
                <td v-html="product.price"></td>
                <td><img width="120" :src="'/storage/images/'+product.image"></td>
                <td class="text-left" v-html="product.description"></td>
            </tr>
        </tbody>
    </table>
    <modal @close="addProduct" @cancel="cancelProduct" v-show="addingProduct"></modal>
    <br>
</div>
</template>


<script>
import Modal from './ProductModal'

export default {
    data() {
        return {
            products: [],
            addingProduct: false
        }
    },
    components: {
        Modal
    },
    beforeMount() {
        axios.get('/api/products').then(response => this.products = response.data.data)
    },
    methods: {
        newProduct() {
            this.addingProduct = !this.addingProduct 
        },
        addProduct() {
            axios.get('/api/products').then(response => this.products = response.data.data)
            this.addingProduct = !this.addingProduct
            this.$myLoader('hide')
        },
        cancelProduct() {
            this.$myLoader('hide')
            this.addingProduct = !this.addingProduct
        },
    }
}
</script>