<template>
<div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Joined</td>
                        <td>Total Orders</td>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr v-for="(user, i) in users" :key="i" v-if="users.length">
                        <td>{{i+1}}</td>
                        <td>{{user.name}}</td> 
                        <td>{{user.email}}</td>
                        <td>{{ moment(user.created_at).format('YYYY-MM-DD HH:mm:ss') }}</td>
                        <td>{{user.orders.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</template>


<script>
export default {
    data() {
        return {
            users : []
        }
    },
    created() {
        axios.get('/api/users').then(response => {
            this.users = response.data.data
            console.log(this.users);
        })
    }
}
</script>