<template>
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-laravel">
        <div class="container">
            <router-link :to="{name: 'home'}" class="navbar-brand">Our Store</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto"></ul>
                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <router-link :to="{ name: 'cart' }" class="nav-link">
                        <span class="fa-stack fa-1x has-badge" :data-count="$store.state.cartCounter">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    </router-link>

                    <a href="javascript:;" class="nav-link" @click="login" v-if="!isLoggedIn">Login</a>
                    <a href="javascript:;" class="nav-link" @click="register" v-if="!isLoggedIn">Register</a>
                    <span v-if="isLoggedIn">
                        <router-link :to="{ name: 'userboard' }" class="nav-link" v-if="user_type == 0"> Hi, {{name}}</router-link>
                        <router-link :to="{ name: 'admin' }" class="nav-link" v-if="user_type == 1"> Hi, {{name}}</router-link>
                    </span>
                    <li class="nav-link" v-if="isLoggedIn" @click="logout"> Logout</li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="py-4">
        <router-view @loggedIn="change"></router-view>
    </main>
</div>
</template>

<script>
export default {
    data() {
        return {
            name: null,
            user_type: 0,
            cart_count: null,
            isLoggedIn: localStorage.getItem('store.token') != null
        }
    },
    watch: {
    },
    computed:{
    },
    mounted() {
        this.setDefaults()
    },
    computed:{},
    methods: {
        login() {
            this.$router.push({
                name: 'login',
                params: {
                    nextUrl: (this.$route.fullPath == "/cart") ? this.$route.fullPath : null
                }
            })
        },
        register() {
            this.$router.push({
                name: 'register',
                params: {
                    nextUrl: (this.$route.fullPath == "/cart") ? this.$route.fullPath : null
                }
            })
        },
        setDefaults() {
            if (this.isLoggedIn) {
                let user = JSON.parse(localStorage.getItem('store.user'))
                this.name = user.name
                this.user_type = user.is_admin
            }
        },
        change() {
            this.isLoggedIn = localStorage.getItem('store.token') != null
            this.setDefaults()
        },
        logout() {
            axios.post('/api/logout', {}).then(res => {
                localStorage.removeItem('store.token')
                localStorage.removeItem('store.user')
                this.change()
                this.$router.push({
                    path: '/',
                    params: {
                    }
                })

            })
        }
    }
}
</script>

<style scoped>
.nav-link {
    cursor: pointer !important;
}

.fa-stack[data-count]:after {
    position: absolute;
    right: -10%;
    top: -20%;
    content: attr(data-count);
    font-size: 50%;
    padding: .8em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}
</style>
