<template>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2 class="title">Cart</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                Image
                            </td>
                            <td>
                                Product Title
                            </td>
                            <td>
                                Quantity
                            </td>
                            <td>
                                Price
                            </td>
                            <td>
                                Discount/Offer
                            </td>
                            <td>
                                Sub Total
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in cart" :key="index">
                            <td>
                                {{ parseInt(index)+1 }}
                            </td>
                            <td>
                                <img :src="'/storage/images/'+item.image" :alt="item.name" class="image" width="100">
                            </td>
                            <td>
                                {{ item.title }}
                            </td>
                            <td>
                                <input type='number' min="1" v-model="item.count" class="form-control number_input" style="width: 100px" @change="increaseDecreaseQuantity(index, $event)" />
                            </td>
                            <td>
                                {{ item.price }}
                            </td>
                            <td v-html="item.discount">
                                </td>
                            <td>
                                {{ item.sub_total }}
                            </td>
                            <td>
                                <button @click="deleteItemFromCart(index)" title="remove product from cart" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class='table'>
                    <tr rowspan="2">
                    <td colspan="8" class="text-right">
                        <h6 v-html="'Total: ' + total "></h6>
                    </td>
                    </tr>
                </table>
                <table class='table' v-if="total != 0">
                    <tr rowspan="2">
                    <td colspan="8" class="text-right">
                        <button @click="placeOrder" class="btn btn-sm btn-success">
                        Place Order <i class="fab fa-first-order-alt" aria-hidden="true"></i>
                        </button>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import functions from '../mixin.js'
import _ from "lodash";
export default {
    data() {
        return {
            isLoggedIn: null,
            customer_orders: [],
            cart: [],
            total: 0
        }
    },
    mounted() {
        setTimeout(() => {
            let events = ["keypress"]
            for (let i = 0; i < events.length; i++) {
                document.querySelector(".number_input").addEventListener(events[i], (evt) => {
                    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
                    {
                        evt.preventDefault();
                    }
                })
            }
        }, 500);

    },
    created() {
        this.cart = this.$store.state.cart
        this.$myLoader("hide")
        this.isLoggedIn = localStorage.getItem('store.token') != null
        if (!this.isLoggedIn) {
            functions.makeToast(this.$bvToast, 'warning', 'Alert', 'Login to avail discounts on different products, if applicable.')
            this.$store.dispatch("UpdateDiscountsActionBaseOnOldOrders", {"customer_orders": []});
            this.$store.dispatch("UpdateDiscountsActionBaseOnDiscountedProducts", {});

        }
        if (this.isLoggedIn) {
            this.user = JSON.parse(localStorage.getItem('store.user'))
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('store.token')
            this.$myLoader("hide")
            this.getUserAllOrders()
        }
    },
    watch: {
        cart: {
            deep: true,
            handler: function (newVal, oldVal) {
                this.countTotal()
            }
        }
    },
    methods: {
        countTotal() {
            this.total = 0;
            _.forOwn(this.cart, (value, key) => {
                this.total = parseInt(this.total) + parseInt(value.sub_total)
            });
            return parseInt(this.total);
        },
        increaseDecreaseQuantity(index, $event) {
            const payload = {
                product: this.cart[index],
                value: $event.target.value,
                notify: this.$bvToast,
                loading: this.$myLoader,
                customer_orders: this.customer_orders
            };
            this.$store.dispatch("UpdateCartAction", payload);
            this.$store.dispatch("UpdateDiscountsActionBaseOnOldOrders", {"customer_orders": this.customer_orders});
            this.$store.dispatch("UpdateDiscountsActionBaseOnDiscountedProducts", {});
            this.cart = []
            this.$nextTick(function () {
                this.cart = this.$store.getters.cart
            })
        },
        deleteItemFromCart(index, $event) {
            var count =  this.cart[index].count;
            this.cart.splice(index, 1);
            this.cart = []
            this.$store.commit('addToCart', this.cart);
            this.$store.commit('cartCounter', this.$store.state.cartCounter - count);
            this.$store.dispatch("UpdateDiscountsActionBaseOnOldOrders", {"customer_orders": this.customer_orders});
            this.$store.dispatch("UpdateDiscountsActionBaseOnDiscountedProducts", {});
            this.cart = []
            this.$nextTick(function () {
                this.cart = this.$store.getters.cart
            })
        },
        getUserAllOrders() {
            this.$myLoader("show")
            axios.get('/api/customer/orders').then(res => {
                this.cart = []
                this.customer_orders = res.data.data;
                this.$store.dispatch("UpdateDiscountsActionBaseOnOldOrders", {"customer_orders": this.customer_orders});
                this.$store.dispatch("UpdateDiscountsActionBaseOnDiscountedProducts", {});
                this.cart = []
                this.$nextTick(function () {
                    this.cart = this.$store.getters.cart
                })
            });
            this.$myLoader("hide")
        },
        placeOrder() {
            this.$myLoader("show")
            var obj = []
            _.forOwn(this.cart, function(value, key) {
                const data = {
                    'id' : value.id,
                    'count' : value.count,
                };
                obj.push(data);
            });
            axios.post('/api/order', {"data": JSON.stringify(obj)}).then(res => {
                this.$myLoader("hide")
                if(res.data.success) {
                    functions.makeToast(this.$bvToast, 'success', 'Success!', 'Order has been created successfully!.')
                    this.$store.commit('addToCart', []);
                    this.$store.commit('cartCounter', 0);
                    this.cart = []
                    this.$nextTick(function () {
                        this.cart = this.$store.getters.cart
                        this.$router.push({'name' : 'userdashboard'})
                    })
                } else {
                    functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Something went wrong!. Please try again later.')
                }
            }).catch(err => {
                this.$myLoader("hide")
                functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Something went wrong!. Please try again later.')
            })
        },
    }
}
</script>

<style scoped>
.small-text {
    font-size: 18px;
}

.order-box {
    border: 1px solid #cccccc;
    padding: 10px 15px;
}

.title {
    font-size: 36px;
}
</style>
