<template>
<div>
    <div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
        <h2 class="title">Welcome to the Our Store</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="product col-md-4" v-for="(product,index) in products" :key="index">

                        <div :class="'product-inner '">
                            <router-link :to="{ path: '/product/'+product.slug}">
                                <div class="product-image-wrap">
                                    <img :src="'/storage/images/'+product.image" :alt="product.name" class="image">
                                </div>
                            </router-link>
                            <div class="product-detail">
                                <router-link :to="{ path: '/product/'+product.slug}">
                                    <h2>
                                        {{ product.title }}
                                    </h2>
                                </router-link>
                                <h2>
                                    <span class="small-text text-muted">${{product.price}}</span>
                                </h2>
                                <p v-html="product.description.substring(0,100)+'...'"></p>
                                <button @click="addToCart(product)" class="col-12 mb-1 btn btn-primary">
                                    <i class="fas fa-shopping-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import functions from '../mixin.js'
export default {
    data() {
        return {
            products: [],
            errors: []
        }
    },
    methods: {
        addToCart(product) {
            const payload = {
                product: product,
                notify: this.$bvToast,
                loading: this.$myLoader,
            };
            this.$store.dispatch("addToCartAction", payload);
        },
        getProducts() {
            axios.get("api/products")
                .then(response => {
                    if (response.data.success) {
                        this.products = response.data.data
                    } else {
                        functions.makeToast(this.$bvToast, 'danger', 'Error!', 'Something went wrong! Please try again later.')
                    }
                }).catch(error => {
                    functions.makeToast(this.$bvToasts, 'danger', 'Error!', 'Something went wrong! Please try again later.')
                })

        }
    },
    async created() {
        this.$myLoader("show")
        await this.getProducts()
        this.$myLoader("hide")
    }
}
</script>

<style scoped>
.product {
    flex: 1 1 33.333%;
    width: 100%;
    padding: 25px;
}

.product-inner {
    position: relative;
    padding: 25px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    perspective: 1000px;
}

.product-inner.green {
    background-image: linear-gradient(to bottom right, #24D484, #116432);
}

.product-inner.blue {
    background-image: linear-gradient(to bottom left, #24D484, #2474C4 70%);
}

.product-inner.pink {
    background-image: linear-gradient(to bottom right, #F444A4, #1168D4);
}

.product-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    perspective: 1000px;
}

.product-text-wrap h2 {
    color: #313131;
    font-size: 128px;
    font-weight: 900;
    opacity: 0.2;
    transform-origin: center;
}

.product-image-wrap {
    position: relative;
    z-index: 1;
    transform-origin: center;
}

.product-image-wrap .image {
    width: 100%;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
}

.product-detail {
    background-color: #FFF;
    padding: 25px;
    margin: 0px -25px -25px;
}

.product-detail h2 {
    font-size: 24px;
    font-weight: 700;
    color: #676767;
    margin-bottom: 15px;
}

.product-detail p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #676767;
}

.product a {
    text-decoration: none;
    cursor: pointer;
}

.small-text {
    font-size: 14px;
}

.hero-section {
    height: 30vh;
    background: #ababab;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

.title {
    font-size: 60px;
    color: #ffffff;
}
</style>
