<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <div v-if="validationErrors.length" class="alert alert-danger">
                        <ul>
                            <li v-for="(value, key, index) in validationErrors" :key="index">{{ value }}</li>
                        </ul>
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" v-model="email" required autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" v-model="password" required>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            email: "",
            password: "",
            errors: [],
        }
    },
    computed: {
        validationErrors() {
            let errors = Object.values(this.errors);
            errors = errors.flat();
            return errors;
        }
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault()
            this.errors = [];
            if (this.password.length > 0) {
                let email = this.email
                let password = this.password

                axios.post('api/login', {
                    email,
                    password
                }).then(response => {
                    let user = response.data.data.user
                    let is_admin = user.is_admin

                    localStorage.setItem('store.user', JSON.stringify(user))
                    localStorage.setItem('store.token', response.data.data.token)

                    if (localStorage.getItem('store.token') != null) {
                        this.$emit('loggedIn')
                        if (this.$route.params.nextUrl != null) {
                            this.$router.push(this.$route.params.nextUrl)
                        } else {
                            this.$router.push((is_admin == 1 ? 'admin' : 'dashboard'))
                        }
                    }
                }).catch(errors => {
                    if (errors.response.status == 422) {
                        this.errors = errors.response.data.errors
                    } else if (errors.response.status == 401) {
                        this.errors = errors.response.data.data
                    } else {
                        this.errors = {'error': 'Something went wrong! Please try again later.'}
                    }
                });
            }
        }
    },
    created() {
        this.$myLoader("hide")
    }
}
</script>
