<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <div v-if="validationErrors.length" class="alert alert-danger">
                        <ul>
                            <li v-for="(value, key, index) in validationErrors" :key="index">{{ value }}</li>
                        </ul>
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" v-model="name" required autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" v-model="email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" v-model="password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" v-model="password_confirmation" required>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ['nextUrl'],
    data() {
        return {
            name: "",
            email: "",
            password: "",
            password_confirmation: "",
            errors: [],
        }
    },
    computed: {
        validationErrors() {
            let errors = Object.values(this.errors);
            errors = errors.flat();
            return errors;
        }
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault()
            this.errors = [];
            if (this.password !== this.password_confirmation || this.password.length <= 0) {
                this.password = ""
                this.password_confirmation = ""
                return alert('Passwords do not match')
            }
            this.$myLoader("show")
            let name = this.name
            let email = this.email
            let password = this.password
            let password_confirmation = this.password_confirmation
            axios.post('api/register', {
                name,
                email,
                password,
                password_confirmation
            }).then(response => {
                this.$myLoader("hide")
                let data = response.data.data
                let user = data.user
                let is_admin = user.is_admin
                localStorage.setItem('store.user', JSON.stringify(data.user))
                localStorage.setItem('store.token', data.token)
                if (localStorage.getItem('store.token') != null) {
                    this.$emit('loggedIn')
                    if (this.$route.params.nextUrl != null) {
                        this.$router.push(this.$route.params.nextUrl)
                    } else {
                        this.$router.push((is_admin == 1 ? 'admin' : 'dashboard'))
                    }
                }
            }).catch(errors => {
                this.$myLoader("hide")
                if (errors.response.status == 422) {
                    this.errors = errors.response.data.errors
                } else {
                    this.errors = {
                        'error': 'Something went wrong! Please try again later.'
                    }
                }
            });
        }
    }
}
</script>
