<template>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="product col-md-6">
                    <div :class="'product-inner '">
                        <div class="product-image-wrap">
                            <img :src="'/storage/images/'+product.image" :alt="product.name" class="image">
                        </div>
                    </div>
                </div>
                <div class="product col-md-6">
                    <div class="product-detail">
                        <h2>
                            {{ product.title }}
                        </h2>
                        <h2>
                            <span class="small-text text-muted">${{product.price}}</span>
                            <button @click="addToCart(product)" class="col-md-4 mb-3 btn btn-sm btn-primary float-right">
                                <i class="fas fa-shopping-cart"></i> &nbsp;Add to Cart
                            </button>
                        </h2>
                        <p v-html="product.description"></p>
                    </div>
                </div>
            </div>
            <div class="row col-md-6 product">
                <router-link :to="{ path: '/'}" class="col-md-4 mb-3 btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;Back
                </router-link>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            product: []
        }
    },
    created() {
        let url = `/api/product/${this.$route.params.slug}`
        axios.get(url).then(response => {
            if (response.data.success) {
                this.$myLoader("hide")
                this.product = response.data.data
            } else {
                this.product = response.data.data
            }
        })
    },
    methods: {
        addToCart(product) {
            const payload = {
                product: product,
                notify: this.$bvToast,
                loading: this.$myLoader,
            };
            this.$store.dispatch("addToCartAction", payload);
        },
    }
}
</script>

<style scoped>
.product {
    flex: 1 1 33.333%;
    width: 100%;
    padding: 25px;
}
.product-inner {
    position: relative;
    padding: 25px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    perspective: 1000px;
}
.product-inner.green {
    background-image: linear-gradient(to bottom right, #24D484, #116432);
}
.product-inner.blue {
    background-image: linear-gradient(to bottom left, #24D484, #2474C4 70%);
}

.product-inner.pink {
    background-image: linear-gradient(to bottom right, #F444A4, #1168D4);
}
.product-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    perspective: 1000px;
}
.product-text-wrap h2 {
    color: #313131;
    font-size: 128px;
    font-weight: 900;
    opacity: 0.2;
    transform-origin: center;
}
.product-image-wrap {
    position: relative;
    z-index: 1;
    transform-origin: center;
}
.product-image-wrap .image {
    width: 100%;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
}
.product-detail {
    background-color: #FFF;
    padding: 25px;
    margin: 0px -25px -25px;
}
.product-detail h2 {
    font-size: 24px;
    font-weight: 700;
    color: #676767;
    margin-bottom: 15px;
}

.product-detail p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    color: #676767;
}

.product a {
    text-decoration: none;
    cursor: pointer;
}
.small-text {
    font-size: 18px;
}

.title {
    font-size: 36px;
}
</style>
