<template>
<div>
    <div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
        <h2 class="title">All your orders</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a v-show="!orders_show" class="btn btn btn-outline-danger" href="javascript:;" @click="goToOrders();"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;Back</a>
                <br>
                <div class="row">
                    <h1 class="text-black-50" v-show="orders_show">Your Orders</h1>
                    <h1 class="text-black-50" v-show="!orders_show">Order Detail</h1>
                    <table class="table table-striped" v-show="orders_show">
                        <thead>
                            <tr>
                                <td>
                                    #
                                </td>
                                <td>
                                    Order ID
                                </td>
                                <td>
                                    Created At
                                </td>
                                <td>
                                    Order Total
                                </td>
                                <td>
                                    Details
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in orders" :key="index">
                                <td>
                                    {{ parseInt(index)+1 }}
                                </td>
                                <td>
                                    {{ item.id }}
                                </td>
                                <td>
                                    <td>{{ moment(item.created_at).format('YYYY-MM-DD HH:mm:ss') }}</td>
                                </td>
                                <td>
                                    {{ item.order_total }}
                                </td>
                                <td>
                                    <a class="btn btn btn-outline-info btn-sm float-left" href="javascript:;" @click="goToDetails(index)">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" v-show="!orders_show">
                        <thead>
                            <tr>
                                <td>
                                    #
                                </td>
                                <td>
                                    Image
                                </td>
                                <td>
                                    Product Title
                                </td>
                                <td>
                                    Quantity
                                </td>
                                <td>
                                    Price
                                </td>
                                <td>
                                    Discount/Offer
                                </td>
                                <td>
                                    Sub Total
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in orderDetails" :key="index">
                                <td>
                                    {{ parseInt(index)+1 }}
                                </td>
                                <td>
                                    <img :src="'/storage/images/'+item.product.image" :alt="item.product.name" class="image" width="100">
                                </td>
                                <td>
                                    {{ item.product.title }}
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td>
                                    {{ item.product.price }}
                                </td>
                                <td v-html="item.discount">
                                </td>
                                <td>
                                    {{ item.sub_total }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import functions from '../mixin.js'
import _ from "lodash";
export default {
    data() {
        return {
            user: null,
            orders: [],
            order_details: [],
            orders_show: true,
        }
    },
    computed: {
        orderDetails() {
            if (!this.orders_show) {
                for (var j = 0; j < this.order_details.length; j++) {
                    var obj = this.order_details[j]
                    if (obj.buy_1_get_half_off) {
                        var price = obj.product.price;
                        var ttl_price = price * obj.quantity
                        var minusTotal = (obj.quantity / 2)
                        minusTotal = Math.floor(minusTotal)
                        obj.sub_total = ttl_price - (price * minusTotal)
                        obj.discount = obj.buy_1_get_half_off_percentage + '% OFF'
                        obj.discount = obj.discount + "<br /> <small><small> " + minusTotal + ' free product added.</small></small>'
                        this.order_details.splice(j, 1, obj);
                    }
                }
                for (var i = 0; i < this.order_details.length; i++) {
                    var array = this.order_details[i]
                    if (array.buy_2_get_1_free) {
                        var price = array.product.price
                        var total_price = price * parseInt(array.quantity)
                        var minusTotal = (array.quantity / 3)
                        minusTotal = Math.floor(minusTotal)
                        array.sub_total = total_price - (price * minusTotal)
                        array.discount = _.startCase(_.toLower('buy_2_get_1_free)'))
                        array.discount = array.discount + "<br /> <small><small> " + minusTotal + ' free product added.</small></small>'
                    } else if (!array.discount || array.discount == 'N/A') {
                        var price = array.product.price
                        var total_price = price * parseInt(array.quantity)
                        array.discount = 'N/A'
                        array.sub_total = total_price
                    }
                    this.order_details.splice(i, 1, array);
                }
                return this.order_details
            } else {
                return []
            }
        }
    },
    created() {
        this.$myLoader("hide")
        this.user = JSON.parse(localStorage.getItem('store.user'))

        // axios.defaults.headers.common['Content-Type'] = 'application/json'
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('store.token')
        if (this.user) {
            axios.get(`api/customer/orders-with-products`).then(response => this.orders = response.data.data)
        }
    },
    methods: {
        goToOrders() {
            this.order_details = []
            this.orders_show = !this.orders_show;
        },
        goToDetails(index) {
            this.order_details = this.orders[index].order_details;
            this.orders_show = !this.orders_show;
        }
    }
}
</script>

<style scoped>
.small-text {
    font-size: 14px;
}

.product-box {
    border: 1px solid #cccccc;
    padding: 10px 15px;
}

.hero-section {
    background: #ababab;
    height: 20vh;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

.title {
    font-size: 60px;
    color: #ffffff;
}
</style>
